{% extends 'base_welcome.html' %}

{% block title %}
<title>Customer Register</title>
{% endblock %}

{% block nav_tag %}
{% include "partials/_authe_nav.html" %}
{% endblock %}


{% block body_title %}
<h1 style="text-align: center;">Customer Update page</h1>
{% endblock %}

{% block form %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{form}}

    </table>
    <button type="submit" class="btn btn-primary border-2 border-secondary  rounded-pill text-white h-100"
        style="top: 0; right: 25%;">Update</button>
</form>

{% endblock %}

{% block button %}
{% endblock %}

{% block foot %}
{% endblock %}

{% block offer %}
{% endblock %}

{% block footer_tag %}
{% include "partials/_authe_footer.html" %}
{% endblock %}